<div class="chat-container">
  <div class="main-card">
    <mat-list class="chat-list">
      <mat-list-item *ngFor="let message of messages" [ngClass]="[(message.action === undefined && message.from.id === user.id)? 'chat-list-item': '']">
        <p mat-line *ngIf="message.action === undefined">
          <span>({{message.time}})</span>
          <span class="chat-message-user">{{message.from.name}}:</span>
          <span> {{message.content}} </span>
  
        </p>
        <p mat-line-g *ngIf="message.action === action.JOINED" class="chat-notification">
          <span> <b>{{message.from.name}}</b> joined to the conversation. </span>
        </p>
        <p mat-line *ngIf="message.action === action.RENAME" class="chat-notification">
          <span> <b>{{message.content.previousUsername}}</b> is now <b>{{message.content.username}}</b> </span>
        </p>
      </mat-list-item>
    </mat-list>
    <div class="chat-footer-container">
      <mat-icon>message</mat-icon>
      <mat-form-field class="chat-input">
         <input matInput 
               #inputMessage 
               maxlength="200" 
               placeholder="Type your message" 
               [(ngModel)]="messageContent" 
               (keyup.enter)="sendMessage(messageContent)">
      </mat-form-field>
      <mat-hint align="end">{{inputMessage.value.length}}/200</mat-hint>
    </div>
  </div>
</div>
<tcc-list (addNameToMessage)="onAddToMessage($event)"></tcc-list>
